.all-products__container{
    width: 90vw;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    top: 100px;
    position: relative;
}