.card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: 1px solid black;
}

.card-img {
    object-fit: cover;
     width: 200px;
     height: 200px;
     padding: 10px;
}

p{
    margin: 0px;
}