.card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: 1px solid black;
}

.card-img {
    object-fit: cover;
     width: 200px;
     height: 200px;
     padding: 10px;
}

p{
    margin: 0px;
}

.card-button{
    margin: 10px;
    background-color: #FFD814;
    padding: 10px 25px; 
    font-size: 15px;
    border: 1px #FFD814;
    border-radius: 50px;
}